@media print
{
    #header
    {
        display: none;
    }
    #menu
    {
        display: none;
    }
    #content
    {
        border: none;
    }
    #content_wrapper
    {
        margin: 0;
        padding: 0;
        border: none;
    }
    #footer
    {
        margin: 0;
        padding: 0;
        color: #808080;
    }
    #footer a
    {
        color: #808080;
    }
}
